//import functions
@import "../node_modules/bootstrap/scss/functions";

//Global options
$enable-caret: false !default;
$enable-rounded: false !default;
$enable-shadows: false !default;

//Theme colours
$primary: #ceeeee;
$secondary: #abe1d4;
$light: #ffffff;
$dark: #000000;
$success: #4e8d7c;



// Spacers
$spacer: 1rem !default;
$spacers: (
    0:0,
    1: $spacer * 0.1,
    2: $spacer * 0.33,
    3: $spacer,
    4: $spacer * 2,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
);

//variables and mixins
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//Custom colours
//$custom-colours is a map.
$custom-colors: (
    "primary-dark": #c1dddd,
    "secondary-light": #fccf7b,
    "button-dark": #4e8d7c,
    "button-light": #3dba9c,
    "dark-green": #2c393d,
    "green": #485c62,
);

//Each loop for creating different shades from cycled colours
@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value;
    }

    .bg-#{$color}-light {
        background-color: tint-colour($value, 60%)
    }
}

//This merges our custom colour map with the theme
$theme-colors: map-merge($theme-colors, $custom-colors );

//Import bootstrap scss files
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Buttons
.outline-button {
    color:#4e8d7c
  }

.outline-button:hover {
    color:white;
}

//Colours
.dark-green{
    color: #2c393d;
}

.green{
    color: #485c62;
}

.light-green{
    color: #4e8d7c;
}

.grey{
    color: #7f7f7f;
}

.dark-grey{
    color: #464646;
}

.icon-green{
    color: #029094
}

.icon-red{
    color: #ea4335;
}

.icon-yellow{
    color: #fff737;
}

//Background image
.location-bg-img {
    background-image: url(/images/locations-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 625px;
}

.inchicore-bg-img {
    background-image: url(/images/inchicore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 216px;
}

.rathmines-bg-img {
    background-image: url(/images/rathmines.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 216px;
}

.monkstown-bg-img {
    background-image: url(/images/monkstown.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 216px;
}

.my-card {
    width: 22.75rem;
    height: 23.5rem;
}