//import functions
@import "../node_modules/bootstrap/scss/functions";

//Global options
$enable-caret: false !default;
$enable-rounded: false !default;
$enable-shadows: false !default;

//Theme colours
$primary: #ceeeee;
$secondary: #abe1d4;
$light: #ffffff;
$dark: #000000;
$success: #4e8d7c;



// Spacers
$spacer: 1rem !default;
$spacers: (
    0:0,
    1: $spacer * 0.1,
    2: $spacer * 0.33,
    3: $spacer,
    4: $spacer * 2,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
);

//variables and mixins
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//Custom colours
//$custom-colours is a map.
$custom-colors: (
    "primary-dark": #c1dddd,
    "secondary-light": #fccf7b,
    "button-dark": #4e8d7c,
    "button-light": #3dba9c,
    "dark-green": #2c393d,
    "green": #485c62,
);


//This merges our custom colour map with the theme
$theme-colors: map-merge($theme-colors, $custom-colors );

//Import bootstrap scss files
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Buttons
.header-outline-button {
    color: #4e8d7c
}

.header-outline-button:hover {
    color: white;
}

.footer-outline-button {
    color: white
}

.footer-outline-button:hover {
    color: #4e8d7c;
}

//Colours
.dark-green {
    color: #2c393d;
}

.green {
    color: #485c62;
}

.light-green {
    color: #4e8d7c;
}

.lighter-green {
    color: #77a59a;
}

.grey {
    color: #7f7f7f;
}

.dark-grey {
    color: #464646;
}

.icon-green {
    color: #029094
}

.icon-red {
    color: #ea4335;
}

.icon-yellow {
    color: #fff737;
}

//Images
.location-bg-img {
    background-image: url(/images/locations-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inchicore-bg-img {
    background-image: url(/images/inchicore.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 13.5rem;
}

.rathmines-bg-img {
    background-image: url(/images/rathmines.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 13.5rem;
}

.monkstown-bg-img {
    background-image: url(/images/monkstown.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 13.5rem;
}

.office-bg-img {
    background-image: url(/images/office-catering.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 7rem;
}

.allergen-bg-img {
    background-image: url(/images/allergen-info.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 7rem;
}

//Card
.my-card {
    width: 22.75rem;
    height: 23.5rem;
}

//Letter spacing
.ls-wide {
    letter-spacing: 0.025em;
}


.menu-img {
    width: 35rem;
    height: 25rem;
    
}


//Basket
.basket-bg {
    background-color: #f2faf8;
}

.basket-img {
    width: 11.25rem;
    height: 8.25rem;
}

.my-qty {
    width: 3.5rem;
}

.border-dotted {
    border: dotted;
;
}


//Media queries
@media (max-width: 768px) {
    .text-center {
        text-align: center;
    }
}
